ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
.body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-dark {
  color: #2e2f42;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.address {
  color: #434455;
}
.address:hover,
.address:focus {
  color: #404bbf;
}

.section-1 {
  background-color: #2e2f42;
}
.page {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}

.buttom {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  background: #4d5ae5;
  color: #ffffff;
}
.buttom:hover,
.buttom:focus {
  background: #404bbf;
}

.titel-item {
color: #2E2F42
  font-size: 20px;
  line-height: 1.2;
}
.text {
  font-weight: 400;

}
.section-3 {
  background: #f4f4fd;
}
.subject {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.subject-item {
  font-weight: 400;

}
.subject-img {
  width: 264px;
  height: 260px;
}
.subject-titel {
    color: #2E2F42
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
.subject-text {
  font-weight: 400;
  text-align: center;

}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.heading-titel {
  font-size: 20px;
  line-height: 1.2;
}

.heading-text {
  font-weight: 400;
}

.footer {
  background: #2e2f42;
}

.logo-light {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  color: #f4f4fd;
}
